pkg/container/*               @simskij
pkg/api/*                     @victorcmoura
.devbots/*                    @simskij
.github/*                     @simskij
docs/*                        @fugginold/dockwatch-contributors
